* {
    margin: 0;
    padding: 0;
}
body {
    background: #fefff0;
}
main {
    margin: auto;
}
main > hr {
    margin-top: 45px;
}
header, main, footer {
    width: 855px;
}
header {
    margin: auto;
}
header h1 {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
}
header p {
    display: inline-block;
    margin-left: 93px;
}
header .em {
    font-style: italic;
}
.comment-input {
    float: left;
    margin-top: 20px;
}
.comment-input p {
    margin-bottom: 10px;
    margin-left: 5px;
}
.comment-input input {
    width: 194px;
    height: 27px;
    font-size: medium;
    padding-left: 5px;
}
.comment-input button {
    justify-content: center;
    background-color: #6b9121;
    color: white;
    padding: 5px;
    border-radius: 2px;
    border: none;
    margin-left: 4px;
    font-size: 1em;
    font-weight: bold;
}
.comments {
    margin-top: 20px;
    width: 612px;
    display: inline-block;
    margin-left: 15px;
}
.comments p:nth-child(even) {
    background: lavender;
}
.comments p:nth-child(odd) {
    background: gainsboro;
}
.comments p {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
